@{
    ViewData["Title"] = "AboutMe";
}
<!--<h1>@ViewData["Title"]</h1>-->


<div class="overflow-hidden text-center bg-light row">
    <!--<div class="col-md-4">
    <div class="card">

  <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHs9aT4v2Rn5w/profile-displayphoto-shrink_400_400/0/1647970480075?e=2147483647&v=beta&t=YIhwNiFGb39zjRZ0qlr32OSp-lWHqi0Ol5l5Ae8U-JQ" alt="Card image">
  
</div>
</div>-->

    <div class="col-md-6 p-lg-5 mx-auto my-5">
       
        <h1 class="display-6 fw-normal" style="color:#F535AA"><b>Let me introduce myself</b></h1>
        <p class="lead fw-normal"><p>Hello, I am young, passionate dreamer in the world of IT industry.</p> <p>Looking back, I've always had a knack for both technology and design. My journey in IT started three years ago,when I become computer science student.
            During my education I reliazed what computer scientists do every day-they create illusion of the impossible.</p><p>Did I found my role in this world full of illusionists?</p>Yes, I am. I'm bachelor degree fairy who create magic blocks of code.
            <p>If you need little bit of magic, feel free to contact me.</p>
        </p>
       

        <p></p>
       
    </div>
  <!--  <div class="product-device shadow-sm d-none d-md-block"></div><div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>-->
</div>