@{
    ViewData["Title"] = "Contact";
}


<body background="https://esquilo.io/wallpaper/wallpaper/20210704/black-wallpaper-plain-plain-black-desktop-wallpapers-on-wallpaperdog-preview.webp">
    </body>

    <div class="overflow-hidden text-center row">

        <div class="col-md-6 p-lg-5 mx-auto my-5">
         <h1 class="display-6 fw-normal text-center" style="color:#F535AA"><b>CONTACT</b></h1>
        <h1 class="display-6 fw-normal text-light"><b>I'd Love To Hear From You</b></h1>

         </div>
    </div>
    
             
         
            <div class="overflow-hidden text-center row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">

               
                 <p class="hero_desc text-light">WHERE TO FIND ME</p>
                 <p class="hero_desc text-light"> 71 000 Sarajevo <br> Bosnia and Herzegovina</p>
            </div>
            </div>
        </div>