@{
    ViewData["Title"] = "Education";
}
<!--<h1>@ViewData["Title"]</h1>-->


        <h1 class="display-6 fw-normal text-center" style="color:#F535AA"><b>Education</b></h1>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Bachelor Degree</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>October 2018 - February 2022</h6>
          <p>International Burch University</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>High School</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right">September 2014 - May 2018</i></h6>
          <p>Richmond Park College</p><br>
        </div>
      </div>
   